body {
  background-color: #060b12;
  margin: 0 auto;
}

.header {
  display: flex;
}

.header-title {
  font-color: #ffffff;
  font-family: 'Gill Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
